
header {
  background: rgb(245, 239, 240);
  padding: 2rem;
  grid-column: 1 / 4;
  border-radius: 30px;
  text-align: center;
  background-image: url(833.jpg);
  background-position: center;
  background-size: cover;
}



main {
  background: #cecece;
  min-height: auto;
}



footer {
  background: wheat;
  padding: 2rem;
}

body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 30px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.section-class {
  background-color: #cecece;
  padding: 80px 0; }
  .section-class h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px; }

.section-class-item {
  margin-bottom: 30px; }
  .section-class-item .icon-wrap {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: rgb(0, 68, 255);
    display: inline-block;
    border-radius: 10em;
    font-size: 20px;
    color: rgb(255, 255, 255); }
  .section-class-item h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold; }
  .section-class-item p {
    color: #383838; }

.items-right .item-icon {
  padding-left: 20px; }

.items-right,
.items-left {
  margin-top: 30px; }

.item-text,
.item-icon {
  display: table-cell;
  vertical-align: top; }

.items-left .item-icon {
  padding-right: 20px; }

  .delenie {
    background: black;
    height: 20px;
  }
  .Osnov_cv_tx{
    
    display:flex;
    justify-content: center;

  }
.lox{
  width: 100%
}
.tablica1, .tablica2{
  width: 35%;    
  border: 1px black solid;
  margin-bottom: 10px;
  
}

td, th {
  padding: 3px;
  text-align: center;
}
.Osnov_cv_tx_3{
  padding: 80px;
  display: flex;
  justify-content: center;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  color: rgb(255, 0, 0);/*Цвет текста*/
  font-family: sans-serif;/*Шрифт*/
  /*opacity: 0.6;*/
  }



.tablica12
{
color: rgb(0, 0, 0);
backGround: #ffffff;
border-radius: 10px;
position: relative;
z-index: 1;
/*opacity: 0.6;*/
width: 70em;
}
.button {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto 0;
  border: none;
  border-radius: 5px; 
  background: #1c87c9; 
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  }
  button:hover {
  background: #095484;
  }
  .block_how-works_1 {
    box-shadow: 0px 13px 57px 0px rgba(24, 24, 24, .04);
    max-width: none;
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .block_how-works {
    min-height: 265px;
    background: #fff;
    max-width: 631px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
  }
  .block_how-works_1 .block_how-works__frame {
    margin-left: 70px;
    margin-right: 70px;
  }
  .block_how-works__frame {
    margin: 0 50px;
    position: relative;
  }
  label, .label44 {
    display: block;
    position: relative;
    margin-bottom: 3px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: #546276;
    text-align: left;
  }
  input[type="color"].input, input[type="color"].area, input[type="date"].input, input[type="date"].area, input[type="datetime"].input, input[type="datetime"].area, input[type="datetime-local"].input, input[type="datetime-local"].area, input[type="email"].input, input[type="email"].area, input[type="month"].input, input[type="month"].area, input[type="number"].input, input[type="number"].area, input[type="password"].input, input[type="password"].area, input[type="search"].input, input[type="search"].area, input[type="tel"].input, input[type="tel"].area, input[type="text"].input, input[type="text"].area, input[type="time"].input, input[type="time"].area, input[type="url"].input, input[type="url"].area, input[type="week"].input, input[type="week"].area, input:not([type]).input, input:not([type]).area, textarea.input, textarea.area, select.input, select.area {
    background-color: #eaf1fa;
    border-color: #eaf1fa;
    color: #546276;
    height: 53px;
    padding: 0px 18px;
    font-size: 14px;
    font-size: 0.875rem;
  }
  input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select {
    border: 1px solid transparent;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    vertical-align: top;
    outline: none;
    zoom: 1;
    transition: all 200ms ease;
    font-family: 'SF UI Text';
    font-weight: 500;
    border-radius: 4px;
    -webkit-appearance: none;
    background-color: #fff;
    border-color: #eaf1fa;
    color: #36495c;
    height: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-size: 0.875rem;
  }