body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr 1fr auto / auto 1fr 1fr auto
}


header {
  background: rgb(245, 239, 240);
  padding: 2rem;
  grid-column: 2 / 3;
  border-radius: 30px;
  text-align: center;
  background-image: url(833.jpg);
  background-position: center;
  background-size: cover;
}



main {
  background: rgb(121, 113, 111);
  grid-column: 1 / 4;
}



footer {
  background: wheat;
  padding: 2rem;
  text-align: center left;
  grid-column: 1 / 4;
}

body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 30px;
}
/*.search {
  margin: -60px 579px -20px 1px;
}
.akchii {
  margin: -60px 417px -20px 1px;
}
.account {
  margin: -60px 271px -20px 1px;
}

.searchFooter {
  margin: -22px 580px -20px 1px;
}
.akchiiFooter {
  margin: -21px -213px -20px 1px;
}
.accountFooter {
  margin: -21px -359px -13px 1px;
}


.logo {
  margin: -100px 350px -9px 10px;
}*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}