main{
  min-height: auto;

  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}
form{
  padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    background-color: #969696 !important;
}
.rows{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.texts{
  width: 45%;
  color: rgb(255, 187, 0);
  font-size: 20px;
}
.texts2{
  width: 45%;
  color: rgb(16, 0, 241);
  font-size: 20px;
}